/data/*.csv
/data_10k_s_i
/customers_merchants/*.csv
!/customers_merchants/merchants.csv

Notebooks
.ipynb_checkpoints
data_dis.ipynb
test_log
*.iml
*.xml
*.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/.name
.idea/inspectionProfiles/Project_Default.xml

